* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #ffe8f2;
  padding: 1rem;
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #382d32;
  font-size: 4rem;
}

.inputs {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.textarea {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border-radius: 1rem;
  resize: none;
  padding: 1rem;
}

.checked-text {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: #fff;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 1rem;
  padding: 1rem;
}

.hidden {
  display: none;
}

.buttons {
  display: grid;
  align-items: end;
}

.btn {
  height: 4rem;
  width: 8rem;
  background-color: rgb(251, 248, 248);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.slay-btn {
  width: 6rem;
  height: 3rem;
  justify-self: center;
  background-color: #fff;
  border: 1.5px dotted #f53789;
  border-radius: 3rem;
  -webkit-animation: wiggle 0.5s ease-in-out infinite;
  animation: wiggle 0.5s ease-in-out infinite;
}

.slay-btn:hover {
}

.red {
  background-color: rgba(239, 84, 84, 0.623);
}

.green {
  background-color: rgba(97, 239, 84, 0.623);
}

.yellow {
  background-color: rgba(223, 239, 84, 0.623);
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

.slay-container {
  z-index: 100;
  position: absolute;
  display: flex;
  width: 97%;
  height: 97%;
  align-items: center;
  justify-content: center;
  background-color: #ffe8f283;
}

.slay-flash {
  font-size: 20rem;
  -webkit-animation: blinker 0.5s linear infinite;
  animation: blinker 0.5s linear infinite;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
